.content {
  background-color: white;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.ttf");
}

.title {
  font-size: 20px;
}

.label {
  padding-left: 30px;
  font-size: 20px;
  font-family: "OpenSans";
  color: black;
  font-weight: bold;
}

.toolbar {
  margin-bottom: 30px;
}

.skip {
  font-family: "OpenSans";
  font-weight: bold;
}

.createacc {
  margin-left: 50px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.card {
  padding-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

.chip {
  padding-right: 15px;
  padding-left: 5px;
}

.chip2 {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  padding-right: 0px;
  padding-left: 2px;
  padding-top: 0px;
  padding-bottom: 2px;
}

.input {
  color: #367fcc;
  text-align: left;
  font-weight: bold;
  font-family: "OpenSans";
}

.note {
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
}

:root {
  --ion-color-theme: #367fcc;
  --ion-color-theme-rgb: 54, 127, 204;
  --ion-color-theme-contrast: #ffffff;
  --ion-color-theme-contrast-rgb: 255, 255, 255;
  --ion-color-theme-shade: #3070b4;
  --ion-color-theme-tint: #4a8cd1;
}

.ion-color-theme {
  --ion-color-base: var(--ion-color-theme);
  --ion-color-base-rgb: var(--ion-color-theme-rgb);
  --ion-color-contrast: var(--ion-color-theme-contrast);
  --ion-color-contrast-rgb: var(--ion-color-theme-contrast-rgb);
  --ion-color-shade: var(--ion-color-theme-shade);
  --ion-color-tint: var(--ion-color-theme-tint);
}

:root {
  --ion-color-signinbutton: #eaf0f6;
  --ion-color-signinbutton-rgb: 234, 240, 246;
  --ion-color-signinbutton-contrast: #0a2a4b;
  --ion-color-signinbutton-contrast-rgb: 54, 127, 204;
  --ion-color-signinbutton-shade: #eaf0f6;
  --ion-color-signinbutton-tint: hsl(208, 48%, 89%);
}

.ion-color-signinbutton {
  --ion-color-base: var(--ion-color-signinbutton);
  --ion-color-base-rgb: var(--ion-color-signinbutton-rgb);
  --ion-color-contrast: var(--ion-color-signinbutton-contrast);
  --ion-color-contrast-rgb: var(--ion-color-signinbutton-contrast-rgb);
  --ion-color-shade: var(--ion-color-signinbutton-shade);
  --ion-color-tint: var(--ion-color-signinbutton-tint);
}
