.title {
  font-size: 20px;
  font-weight: bold;
}

.toolbar2 {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
  margin-bottom: 20px;
}

.label3 {
  padding-left: 30px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.addcard {
  background-color: white;
  padding-bottom: 5px;
  padding-right: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
