ion-icon {
  font-size: 21px;
}

.title {
  font-size: 20px;
}

.toolbar2 {
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.label2 {
  padding-left: 20px;
  font-size: 25px;
  font-family: "OpenSans";
  color: black;
  font-weight: bold;
}

