ion-content {
  --background-color: transparent;
}
@font-face {
  font-family: "Open Sans";
  src: url("https://fonts.googleapis.com/css?family=Open%20Sans");
}

.image {
  margin-top: 80px;
  margin-bottom: 60px;
  margin-left: 40px;
  margin-right: 40px;
  align-items: center;
}

.textsignup {
  color: aliceblue;
  font-weight: bold;
}

.textroute {
  color: aliceblue;
  font-weight: bold;
}

.card2 {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
}

.item-input-1 {
  color: grey;

  background-color: white;

  padding-bottom: 30px;
  margin-left: 10px;
  margin-right: 20px;
}

.item-input-2 {
  color: grey;

  background-color: white;

  padding-bottom: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.signbutton {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}
