@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.ttf");
}

.image {
  margin-top: 80px;
  margin-bottom: 50px;
}

.text-item {
  margin: 10px 8px 10px 8px;
}

.text {
  margin-left: 0px;
  padding-left: 0px;
  text-align: center;
  font-family: "Open Sans";
  color: aliceblue;
  font-weight: bold;
}

.text2 {
  font-family: "Open Sans";
  color: aliceblue;
  font-weight: bold;
}

.card {
  margin-left: 30px;
  margin-right: 30px;
}

.item-input-1 {
  color: grey;
  font-family: "Open Sans";

  background-color: white;

  padding-bottom: 30px;
  margin-left: 10px;
  margin-right: 20px;
}

.confirm {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
}

.input {
  color: black;
}

.icon {
  color: grey;
}

:root {
  --ion-color-theme: #367fcc;
  --ion-color-theme-rgb: 54, 127, 204;
  --ion-color-theme-contrast: #ffffff;
  --ion-color-theme-contrast-rgb: 255, 255, 255;
  --ion-color-theme-shade: #3070b4;
  --ion-color-theme-tint: #4a8cd1;
}

.ion-color-theme {
  --ion-color-base: var(--ion-color-theme);
  --ion-color-base-rgb: var(--ion-color-theme-rgb);
  --ion-color-contrast: var(--ion-color-theme-contrast);
  --ion-color-contrast-rgb: var(--ion-color-theme-contrast-rgb);
  --ion-color-shade: var(--ion-color-theme-shade);
  --ion-color-tint: var(--ion-color-theme-tint);
}

:root {
  --ion-color-signinbutton: #eaf0f6;
  --ion-color-signinbutton-rgb: 234, 240, 246;
  --ion-color-signinbutton-contrast: #0a2a4b;
  --ion-color-signinbutton-contrast-rgb: 54, 127, 204;
  --ion-color-signinbutton-shade: #eaf0f6;
  --ion-color-signinbutton-tint: hsl(208, 48%, 89%);
}

.ion-color-signinbutton {
  --ion-color-base: var(--ion-color-signinbutton);
  --ion-color-base-rgb: var(--ion-color-signinbutton-rgb);
  --ion-color-contrast: var(--ion-color-signinbutton-contrast);
  --ion-color-contrast-rgb: var(--ion-color-signinbutton-contrast-rgb);
  --ion-color-shade: var(--ion-color-signinbutton-shade);
  --ion-color-tint: var(--ion-color-signinbutton-tint);
}
